[submodule "cases/shadowsocks-libev__CVE-2017-15924/vulnerable/repo"]
	path = cases/shadowsocks-libev__CVE-2017-15924/vulnerable/repo
	url = https://github.com/shadowsocks/shadowsocks-libev
	ignore = dirty
[submodule "cases/shadowsocks-libev__CVE-2017-15924/patched/repo"]
	path = cases/shadowsocks-libev__CVE-2017-15924/patched/repo
	url = https://github.com/shadowsocks/shadowsocks-libev
[submodule "cases/spice-vdagent__CVE-2017-15108/vulnerable/repo"]
	path = cases/spice-vdagent__CVE-2017-15108/vulnerable/repo
	url = https://gitlab.freedesktop.org/spice/linux/vd_agent
	ignore = dirty
[submodule "cases/spice-vdagent__CVE-2017-15108/patched/repo"]
	path = cases/spice-vdagent__CVE-2017-15108/patched/repo
	url = https://gitlab.freedesktop.org/spice/linux/vd_agent
[submodule "cases/patch__CVE-2019-13638/vulnerable/repo"]
	path = cases/patch__CVE-2019-13638/vulnerable/repo
	url = https://git.savannah.gnu.org/git/patch.git
[submodule "cases/patch__CVE-2019-13638/patched/repo"]
	path = cases/patch__CVE-2019-13638/patched/repo
	url = https://github.com/mirror/patch
[submodule "cases/openjpeg__CVE-2019-12973/vulnerable/repo"]
	path = cases/openjpeg__CVE-2019-12973/vulnerable/repo
	url = https://github.com/uclouvain/openjpeg.git
[submodule "cases/openjpeg__CVE-2019-12973/patched/repo"]
	path = cases/openjpeg__CVE-2019-12973/patched/repo
	url = https://github.com/uclouvain/openjpeg.git
[submodule "cases/php-src__CVE-2017-11142/vulnerable/repo"]
	path = cases/php-src__CVE-2017-11142/vulnerable/repo
	url = https://github.com/php/php-src.git
[submodule "cases/php-src__CVE-2017-11142/patched/repo"]
	path = cases/php-src__CVE-2017-11142/patched/repo
	url = https://github.com/php/php-src.git
[submodule "cases/php__CVE-2015-8617/vulnerable/repo"]
	path = cases/php__CVE-2015-8617/vulnerable/repo
	url = https://github.com/php/php-src
[submodule "cases/php__CVE-2015-8617/patched/repo"]
	path = cases/php__CVE-2015-8617/patched/repo
	url = https://github.com/php/php-src
[submodule "cases/rsyslog__CVE-2017-12588/vulnerable/repo"]
	path = cases/rsyslog__CVE-2017-12588/vulnerable/repo
	url = https://github.com/rsyslog/rsyslog
[submodule "cases/radare2__CVE-2019-16718/vulnerable/repo"]
	path = cases/radare2__CVE-2019-16718/vulnerable/repo
	url = https://github.com/radareorg/radare2
[submodule "cases/rsyslog__CVE-2017-12588/patched/repo"]
	path = cases/rsyslog__CVE-2017-12588/patched/repo
	url = https://github.com/rsyslog/rsyslog
	ignore = dirty
[submodule "cases/plasma-workspace__CVE-2018-6791/patched/repo"]
	path = cases/plasma-workspace__CVE-2018-6791/patched/repo
	url = https://github.com/KDE/plasma-workspace.git
[submodule "cases/plasma-workspace__CVE-2018-6791/vulnerable/repo"]
	path = cases/plasma-workspace__CVE-2018-6791/vulnerable/repo
	url = https://github.com/KDE/plasma-workspace.git
[submodule "cases/ghostpdl__CVE-2018-16863/vulnerable/repo"]
	path = cases/ghostpdl__CVE-2018-16863/vulnerable/repo
	url = https://github.com/ArtifexSoftware/ghostpdl.git
[submodule "cases/ghostpdl__CVE-2018-16863/patched/repo"]
	path = cases/ghostpdl__CVE-2018-16863/patched/repo
	url = https://github.com/ArtifexSoftware/ghostpdl.git
[submodule "cases/radare2__CVE-2019-16718/patched/repo"]
	path = cases/radare2__CVE-2019-16718/patched/repo
	url = https://github.com/radareorg/radare2
[submodule "juliet-java-test-suite"]
	path = juliet-java-test-suite
	url = https://github.com/UnitTestBot/juliet-java-test-suite
